body {
  background-color: silver;
  margin: 0;
  box-sizing: border-box;
}
.square {
  width: 20%;
  height: 10vh;
  display: inline-block;
}
.aqua {
  background-color: darkslategray;
}
.darkGray {
  background-color: aqua;
}
.fuchsia {
  background-color: darkmagenta;
}
.whiteSmoke {
  background-color: whitesmoke;
}
.cornflowerblue {
  background-color: cornflowerblue;
}
.powderblue {
  background-color: powderblue;
}
.rainbowContainer{
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
}