body {
  background-color: silver;
}
.square {
  height: 50px;
  width: 50px;
  display: inline-block;
}
.aqua {
  background-color: darkslategray;
}
.darkGray {
  background-color: aqua;
}
.fuchsia {
  background-color: darkmagenta;
}
.whiteSmoke {
  background-color: whitesmoke;
}
.cornflowerblue {
  background-color: cornflowerblue;
}
.powderblue {
  background-color: powderblue;
}