div {
  button {
    background-color: whitesmoke;
    color: darkslategray;
    font-size: 1.25em;
    border-radius: 5px;
  }
}
.aqua {
  color: aqua;
  background-color: darkslategray;
}
.darkGray {
  color: darkslategray ;
  background-color: aqua;
}
.fuchsia {
  color: fuchsia ;
  background-color: darkmagenta;
}